body {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  font-size: 4em;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16/9;
  width: 100%;
}

#game {
  grid-area: 1/1;
  display: grid;

  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1/1;
  background-image: url(img/forest_baggrund.jpg);
  background-position: center;
  background-size: cover;
}

#game_elements {
  grid-area: 1/1;
  overflow: hidden;
  position: relative;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

.hidden,
#game_over.hidden,
#level_complete.hidden {
  display: none;
}

/* =====================
    Alle game elements
======================== */

#duck1_container {
  position: absolute;
  width: 12%;
  top: 21%;
  left: 40%;
}

#duck2_container {
  position: absolute;
  width: 12%;
  top: 41%;
  left: 31%;
}
#duck3_container {
  position: absolute;
  width: 12%;
  top: 62%;
  left: 36%;
}

#goose1_container {
  position: absolute;
  width: 14%;
  top: 27%;
  left: 70%;
}
#goose2_container {
  position: absolute;
  width: 14%;
  top: 55%;
  left: 60%;
}

#dog1_container {
  position: absolute;
  width: 25%;
  top: 33%;
  left: 3%;
}

#dog2_container {
  position: absolute;
  width: 25%;
  top: 70%;
  left: 8%;
}

/* =====================
    Alle ui elements
======================== */
#game_ui {
  position: absolute;
  top: 1vw;
  right: 3vw;
  color: #fff;

  font-size: 2em;
  font-family: sans-serif;

  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.1em;
}

#point_count {
  white-space: nowrap;
  text-align: right;
  padding-top: 1vw;
}

#score_board_sprite {
  width: 3em;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.5em 1.5em 1.5em;
}

#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
